server:
  port: 8080

spring:
  datasource:
    username: root
    password: Wst030519
    url: jdbc:mysql://127.0.0.1:3306/lottery?useUnicode=true&characterEncoding=UTF-8
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:/mybatis/mapper/*.xml
  config-location: classpath:/mybatis/config/mybatis-config.xml


# Dubbo 广播方式配置
dubbo:
  application:
    name: lottery
    version: 1.0.0
  registry:
    address: multicast://224.0.0.0:1234
  protocol:
    name: dubbo
    port: 20880
  scan:
    base-packages: com.glimound.lottery.rpc